body {
	margin: 0;
}

a {
	text-decoration: none;
}

.rootContent {
    background-color: #f0eceb;
    height: 100%;
    width: 100%;
    position: relative;
    background-size: 100% 100%;
    background-position: center top;
    background-attachment: fixed;
}


.nameLayout {
	height: 15%;
	width: 100%;
	position: relative;
}


.name {
	color: #323838;
	font-size: 38;
	font-family: "Bold";
	padding-top: 70;
	padding-left: 70;
}


.name surname {
  color: #ff3c00;
}


img#logo {
	width:117;
	height:117;
	padding-right: 70;
	float: left;
}


.logo{
    height: 70%;
    width: 100%;
    position: relative;  
    float: left;
 }


div.logoContent p {
    margin: 0;
    text-align: left;
    position: absolute;
    left: 70%;
    top: 45%;
}


div.logoContent img {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 89%;
    transform: translate(-50%, -50%);
}


.profession {
	font-family: "Regular";
	font-size: 17;
	color: #323838;
  line-height: 1.2;
}


.profession companyName {
  /* 63463f*/
  font-family: "Light";
	color: #ff3c00;
	font-size: 14px;
}


.footer {
	margin-top: 100;
}

.footerPara {
	font-family: "Regular";
	margin-left: 60;
	font-size: 14;
	color: #323838;
	display: inline;
	position: relative;
	padding: 10;
}


p.footerPara:after {
  display: inline-block;
  position: absolute;
  left: 10;
  bottom: 2px;
  width: 0;
  height: 3px;
  background-color: #ff3f05;
  content: "";
  -webkit-transition:  0.2s;
  -moz-transition:  0.2s;
  -o-transition:  0.2s;
  transition:  0.2s;
}

p.footerPara:hover:after {
  width: 140%;
}


@font-face {
  font-family: "Bold";
  src: url("../font/Montserrat-Bold.otf") 
}


@font-face {
  font-family: "Regular";
  src: url("../font/Montserrat-Regular.otf") 
}

@font-face {
  font-family: "Light";
  src: url("../font/Montserrat-Light.otf") 
}